
Flavivirus_NCBI/
Flavivirus_Stockholm/
Results/locARNA/*/input/
Results/locARNA/*/intermediates/
Results/locARNA_with_MRRI/*/input/
Results/locARNA_with_MRRI/*/intermediates/
Results/locARNA_with_CARNA_and_MRRI/*/input/
Results/locARNA_with_CARNA_and_MRRI/*/intermediates/
*.cpython-37.pyc
*.cpython-39.pyc
*.cpython-310.pyc
*.Identifier

